@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
html, body {
    height: 100%;
    margin: 0;
    padding: 0%;
    font-family: 'Open Sans Light', sans-serif;

}

    .wrapper {
        overflow: hidden;
        background-color: #E8E9EC;
    }

    .snowGo {
        display: flex;
        height: 8vh;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0%;
        justify-content: center;
        align-items: center;
        padding: 10px;
        font-size: 20px;
        background-color: #8CC2E3;
        border-radius: 55px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }
    
    .container {
        overflow-x: hidden;
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        height: 100vh;
        margin: 10px 10px;
    }

    .backIcon {
        display: flex;
        height: 50%;
        margin-bottom: 50px;
    }   
    
    .optionCards{
        font-size: 80%;
    }

    .back {
        width: 10%;
        height: 10%;
        margin-bottom: 100px;
    }


    .locationCard{
        display: flex;
        height: 8vh;
        width: 100%;
        align-self: center;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 20px;
        padding: 3px;
        background-color: #FFFFFF;
        border-radius: 55px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }

    .writeCard{
        display: flex;
        height: 8vh;
        width: 100%;
        align-self: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 3px;
        background-color: #FFFFFF;
        border-radius: 55px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }

    .imageCard{
        display: flex;
        height: 8vh;
        width: 100%;
        align-self: center;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 3px;
        background-color: #FFFFFF;
        border-radius: 55px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }

    .cameraIcon {
        display: flex;
        padding-top: 30px;
        padding-bottom: 15px;
        justify-content: space-evenly;
        border-radius: 55px;
    }

    .dropdown {
        display: inline-block;
        position: relative;
    }

    .bottomNav{
        height: 10vh;
        flex: 1 100%;
        background-color: #FFFFFF;
        border-radius: 20px 20px 0px 0px;
        border-top: 1px solid black;
        position: sticky;
        bottom: 0px;
        display: flex;
        justify-content: space-around;
    }
    .icons{
        /* border: 1px solid red; */
        align-self: center;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
    
    }
    .innerIcon{
        /* border: 1px solid green; */
        width: 35%;
        height: 35%;
        align-self: center;
    
    }
    .middleIcon{
        background-color: #081335;
        border-radius: 20px;
        width: 85%;
        height: 85%;
        margin-bottom: 12%;
    }
    .plusIcon{
        width: 50%;
        height: 50%;
    }
    
    .dropbtn {
        background-color: #8CC2E3;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
      }
    
    .dropdown {
    position: relative;
    display: inline-block;
    }
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      /* Links inside the dropdown */
      .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
      }
      /* Change color of dropdown links on hover */
    .dropdown-content a:hover {background-color: #ddd;}
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {background-color: #081335;}