@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap");
html,
body {
  height: 100%;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans Light", sans-serif;
}

.wrapper {
  overflow: hidden;
  background-color: #e8e9ec;
}

.container {
  margin: 10px 10px;
  overflow-x: hidden;
  display: flex;
  width: calc(100vw - 20px);
  height: 100vh;
  flex-direction: column;
  margin: 10px 10px;
}

.titleCard {
  display: flex;
  height: 8vh;
  width: 90%;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  background-color: #8cc2e3;
  border: 8px solid#081335;
  border-radius: 55px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.fullForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-group {
  display: flex;
  height: 2vh;
  width: 50%;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
  padding: 24px;
  font-size: 16px;
  background-color: #8cc2e3;
  border: 4px solid#081335;
  border-radius: 55px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.bottomNav {
  height: 10vh;
  flex: 1 100%;
  background-color: #ffffff;
  border-radius: 20px 20px 0px 0px;
  border-top: 1px solid black;
  position: sticky;
  bottom: 0;
  display: flex;
  justify-content: space-around;
}

.icons {
  align-self: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

.innerIcon {
  width: 35%;
  height: 35%;
  align-self: center;
}

.middleIcon {
  background-color: #081335;
  border-radius: 20px;
  width: 85%;
  height: 85%;
  margin-bottom: 12%;
}

.plusIcon {
  width: 50%;
  height: 50%;
}
