html, body {
    height: 100%;
    margin: 0;

}


.wrapper {
    overflow: hidden;
    background-color: #E8E9EC;
}

.container {
    overflow-x: hidden;
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.cards{
    justify-content: center;
    align-items: center;
}

.mainCard{
    display: flex;
    height: 16vh;
    width: 90%;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 20px;
    background-color: #8CC2E3;
    border-radius: 55px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}


.card1{
    height: 10vh;
    width: 96%;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 50px;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 55px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    
}

.card2{
    height: 10vh;
    width: 96%;
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    background-color: #FFFFFF;
    border-radius: 55px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}

.icon {
    display: flex;
    padding-top: 30px;
    padding-bottom: 15px;
    justify-content: space-evenly;
    border-radius: 55px;
}

.bottomNav{
    height: 10vh;
    flex: 1 100%;
    background-color: #FFFFFF;  
    border-radius: 20px 20px 0px 0px;
    border-top: 1px solid black;
    position: sticky;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
}
.icons{
    /* border: 1px solid red; */
    align-self: center;
    width: 23%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;

}
.innerIcon{
    /* border: 1px solid green; */
    width: 35%;
    height: 35%;
    align-self: center;

}
.middleIcon{
    background-color: #081335;
    border-radius: 20px;
    width: 85%;
    height: 85%;
    margin-bottom: 12%;
}


