@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
html, body {
    height: 100%;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans Light', sans-serif;

}

    .wrapper {
        overflow: hidden;
        background-color: #E8E9EC;
    }

    .container {
        margin: 10px 10px;
        align-items: center;
        overflow-x: hidden;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: calc(100vw-20px);
        height: 87vh;
    }

    .snowGo {
        display: flex;
        height: 8vh;
        width: 90%;
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
        padding: 10px;
        font-size: 20px;
        background-color: #8CC2E3;
        border: 8px solid#081335;
        border-radius: 55px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }


    .backIcon {
        display: flex;
        height: 50%;
    }   
    
    .optionCards{
        font-size: 80%;
        
    }

    .back {
        width: 10%;
        height: 10%;
        justify-content: left;
    }

    .optionCards{
        width: 100%;
    }

    .imageCard{
        display: flex;
        height: 8vh;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 3px;
        background-color: #FFFFFF;
        border: 4px solid#081335;
        border-radius: 55px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }

    .writeCard{
        display: flex;
        height: 8vh;
        width: auto;
        justify-content: center;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 3px;
        background-color: #FFFFFF;
        border: 4px solid#081335;
        border-radius: 55px;
        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    }


    .cameraIcon {
        display: flex;
        padding-top: 30px;
        padding-bottom: 15px;
        justify-content: space-evenly;
        border-radius: 55px;
    }

    .dropdown {
        display: inline-block;
        position: relative;
    }

    .bottomNav{
        height: 10vh;
        flex: 1 100%;
        background-color: #FFFFFF;
        border-radius: 20px 20px 0px 0px;
        border-top: 1px solid black;
        position: sticky;
        bottom: 0px;
        display: flex;
        justify-content: space-around;
    }
    .icons{
        /* border: 1px solid red; */
        align-self: center;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-evenly;
    
    }
    .innerIcon{
        /* border: 1px solid green; */
        width: 35%;
        height: 35%;
        align-self: center;
    
    }
    .middleIcon{
        background-color: #081335;
        border-radius: 20px;
        width: 85%;
        height: 85%;
        margin-bottom: 12%;
    }
    .plusIcon{
        width: 50%;
        height: 50%;
    }
