@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap');
*{
    margin: 0px;
    padding: 0px;
}

body{
    width: 100vw;
    height: 100vh;
}
.wrapper{
    overflow: hidden;
    background-color: #E8E9EC;

}
.container{
    overflow-x: hidden;
    display: flex;
    width: calc(100vw - 20px);
    height: 100vh;
    flex-wrap: wrap;
    margin: 10px 10px;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */

}
.mainCard{
    height: 40vh;
    width: 96%;
    /* margin-right: auto; */
    
    /* align-self: flex-start; */
    background-color: #8CC2E3;
    border-radius: 55px;

    display:flex;
    justify-content: center;
    align-items: center;

    font-size: 120%;
    font-family: 'Open Sans', sans-serif;

    border: 8px solid #081335;

    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    
}
.weatherCard{
    padding: 1em;
    border-radius: 55px;
    width: 100%;
    height: 80%;
    margin: 0.5em;
    /* border: 8px solid #081335; */
    font-family: 'Open Sans', sans-serif;
}
.search{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;   
    font-size: 120%;
    margin-top: -2%;
    color: black;

}
.button{
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-size: 120%;
    background: #7c7c7c2b;


}
.searchBtn{
    width:50%;
}
input.search-bar{
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: black;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);

}
button:hover{
    background: #7c7c7c6b;
}

.weather{
    margin-left: 2%;

}
h1.temp{
    margin: 0;
    font-size: 120%;
    margin-bottom: 0.4em;
}
.icon{
    width: 20%;
}
.description{
    margin-top: 6%;
    font-weight: 800;
    font-size: 24px;
}
.flex{
    display: flex;
    align-content: center;
}
.description{
    text-transform: capitalize;
    margin-left: 8px;
    color: 081335;
}
.weather.loading{
    visibility: hidden;
    max-height: 20px;
    position: relative;
    color: black;
}
.weather.loading::after{
    visibility: visible;
    content: "Loading...";
    color: white;
    position: absolute;
    top: 0;
    left: 20px;
    color: black;

}
.card1{
    height: 6vh;
    width: 96%;
    /* border: 1px solid black; */
    display: flex;
    margin: 2% auto -10px auto;

    /* background-color: #FFFFFF; */
}
#roadConditions{
    align-self: center;
    font-size: 30px;
    font-weight: 800;
    margin-left: 3%;
}
.card2{
    height: 20vh;
    width: 96%;
    border-radius: 55px;
    margin: 5% 0px 0px 0px;

    background-color: #FFFFFF;

}
.card3{
    height: 20vh;
    width: 96%;
    border-radius: 55px;
    margin: 5% 0px 0px 0px;
    border: 6px solid #081335;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: #FFFFFF;

}

#map{
    border: 8`px solid #081335;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.bottomNav{
    height: 10vh;
    flex: 1 100%;
    background-color: #FFFFFF;
    border-radius: 20px 20px 0px 0px;
    border-top: 1px solid black;
    position: sticky;
    bottom: 0px;
    display: flex;
    justify-content: space-around;
}
.icons{
    /* border: 1px solid red; */
    align-self: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;

}
.innerIcon{
    /* border: 1px solid green; */
    width: 35%;
    height: 35%;
    align-self: center;

}
.middleIcon{
    background-color: #081335;
    border-radius: 20px;
    width: 85%;
    height: 85%;
    margin-bottom: 12%;
}
.plusIcon{
    width: 50%;
    height: 50%;
}
